In [6]:
import pandas as pd

### Lab

In [7]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])
df_a

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [8]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])
df_b

   c  d
0  2  7
1  3  8

In [10]:
# left join
pd.merge(df_a, df_b, on='c', how='left')

     a    b    c   d
0  1.0  4.0  NaN NaN
1  2.0  5.0  NaN NaN
2  3.0  6.0  NaN NaN
3  NaN  NaN  1.0 NaN

In [11]:
# right join

pd.merge(df_a, df_b, on='c', how='right')

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [16]:
# inner join

pd.merge(df_a, df_b, on='c', how='inner')

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [17]:
# outer join

pd.merge(df_a, df_b, on='c', how='outer')

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

### Bonus

In [26]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [27]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [29]:
# left join

pd.merge(left, right, on='key1' and 'key2', how='left')

  key1_x key2  lval key1_y  rval
0    foo  one     1    foo     4
1    foo  one     1    foo     5
2    foo  one     1    bar     6
3    foo  two     2    bar     7
4    bar  one     3    foo     4
5    bar  one     3    foo     5
6    bar  one     3    bar     6

In [22]:
# right join

pd.merge(left, right, on='key1' and 'key2', how='right')

  key1_x key2  lval key1_y  rval
0    foo  one     1    foo     4
1    bar  one     3    foo     4
2    foo  one     1    foo     5
3    bar  one     3    foo     5
4    foo  one     1    bar     6
5    bar  one     3    bar     6
6    foo  two     2    bar     7

In [23]:
# inner join

pd.merge(left, right, on='key1' and 'key2', how='inner')

  key1_x key2  lval key1_y  rval
0    foo  one     1    foo     4
1    foo  one     1    foo     5
2    foo  one     1    bar     6
3    bar  one     3    foo     4
4    bar  one     3    foo     5
5    bar  one     3    bar     6
6    foo  two     2    bar     7

In [24]:
# outer join

pd.merge(left, right, on='key1' and 'key2', how='outer')

  key1_x key2  lval key1_y  rval
0    foo  one     1    foo     4
1    foo  one     1    foo     5
2    foo  one     1    bar     6
3    bar  one     3    foo     4
4    bar  one     3    foo     5
5    bar  one     3    bar     6
6    foo  two     2    bar     7