In [1]:
# import all depedencies first cell
import numpy as np
import pandas as pd
from sklearn import linear_model, metrics, cross_validation

In [2]:
# define functions in one cell, call when you need
def read_csv(path):
    return pd.read_csv(path)

In [3]:
path = '../../assets/datasets/bikeshare.csv'
bikeshare = read_csv(path)

In [7]:
# get the data dictionary of bikeshare to see possible feature candidates
bikeshare.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [64]:
# assume we want 2 features, 'temp' and 'hum' and weathersit, because
# weathersit is categorical we must make dummy variables
# create a new dataframe with only features temp and hum, 
# and all dummy variables required for weathersit (hint n - 1 classes)
# hint (pd.get_dummies(df_column)) will transform your variable 
# into n dummy classes
# hint, use .join to merge two dataframes on a common key (default inner join on index)
# call your features dataframe 'modeldata' and your y response column 'y'

modeldata = pd.DataFrame(bikeshare['temp'])
modeldata['hum'] = bikeshare['hum']
dummy_location = pd.get_dummies(bikeshare['weathersit'],prefix='weathersit')
cols_to_keep = ['temp','hum']
modeldata = modeldata[cols_to_keep].join(dummy_location.ix[:, :])
del modeldata['weathersit_1']
y = pd.DataFrame(bikeshare['casual'])
modeldata.head(20)

    temp   hum  weathersit_2  weathersit_3  weathersit_4
0   0.24  0.81           0.0           0.0           0.0
1   0.22  0.80           0.0           0.0           0.0
2   0.22  0.80           0.0           0.0           0.0
3   0.24  0.75           0.0           0.0           0.0
4   0.24  0.75           0.0           0.0           0.0
5   0.24  0.75           1.0           0.0           0.0
6   0.22  0.80           0.0           0.0           0.0
7   0.20  0.86           0.0           0.0           0.0
8   0.24  0.75           0.0           0.0           0.0
9   0.32  0.76           0.0           0.0           0.0
10  0.38  0.76           0.0           0.0           0.0
11  0.36  0.81           0.0           0.0           0.0
12  0.42  0.77           0.0           0.0           0.0
13  0.46  0.72           1.0           0.0           0.0
14  0.46  0.72           1.0           0.0           0.0
15  0.44  0.77           1.0           0.0           0.0
16  0.42  0.82           1.0           0.0           0.0
17  0.44  0.82           1.0           0.0           0.0
18  0.42  0.88           0.0           1.0           0.0
19  0.42  0.88           0.0           1.0           0.0

In [65]:
 kf = cross_validation.KFold(len(modeldata), n_folds=5, shuffle=True)
# you must define modeldata in cell above for kf assignment to run
# kf returns a dictionary composed of key-value pairs

In [66]:
lm_obj = linear_model.LinearRegression() # instaniate only one time
scores = [] # we will append mse scores from each iteration in kf
for train_index, test_index in kf: # for (key,value) in dictionary
    x_train = modeldata.iloc[train_index] # get new set each iteration
    y_train = y.iloc[train_index]
    
    x_test = modeldata.iloc[test_index] # get new test data each iteration
    y_test = y.iloc[test_index]
        
    lm = lm_obj.fit(x_train, y_train) # fit new model each iteration
    x_test_pred = lm.predict(x_test)

    mse = metrics.mean_squared_error(y_test,x_test_pred) 
    # get new mse each iteration
    scores.append(mse) # append mse scores from each model to scores list

In [67]:
# print the mean mse score from all iterations, explain output
print scores

[1771.9509031155551, 1654.9567542605942, 1763.4998657012102, 1554.5158644704356, 1623.9623589897828]

In [97]:
# fit a regression model on all the model and outcome data (modeldata and y)
# hint use, linear_model.LinearRegression().fit()
# get predictions from fitted model using same model data
# calculate MSE and interpret 
# hint MSE = SSE/n = (y - y_est)/n, y_est = lm.predict(modeldata)
X = modeldata
lm = linear_model.LogisticRegression().fit(X,y)
predictions = lm.predict(X)

print predictions
#print (y - predictions).sum() / len(predictions)

/Users/SangYeob/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0 0 0 ..., 0 0 0]

In [ ]:
# fit a lasso regression model on all the model and outcome data (modeldata and y)
# hint use, linear_model.Lasso().fit()
# get predictions from fitted model using same model data
# calculate MSE and interpret
# hint MSE = SSE/n = (y - y_est)/n, y_est = lm.predict(modeldata)

In [ ]:
# fit a Ridge regression model on all the model and outcome data (modeldata and y)
# hint use, linear_model.Ridge().fit()
# get predictions from fitted model using same model data
# calculate MSE and interpret
# hint MSE = SSE/n = (y - y_est)/n, y_est = lm.predict(modeldata)