# SQL Lab

In this lab we will learn how to use execute SQL from the ipython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/) that we used in Lesson 3.1.

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [12]:
#!pip install ipython-sql

Let's see if it works:

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

Nice!!! We can now go ahead with the lab!

In [19]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

## 1: Inspect the database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically

In [40]:
%%sql
SELECT * 
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

18 rows affected.

[(u'northwind', u'public', u'categories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customercustomerdemo', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customerdemographics', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'employees', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'employeeterritories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'movies', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'order_details', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'orders', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'products', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'ratings', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'region', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'shippers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'shippers_tmp', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'suppliers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'table1', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'territories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'usstates', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None)]

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [46]:
%%sql
select table_name,column_name,data_type
from INFORMATION_SCHEMA.COLUMNS
WHERE table_schema = 'public' and table_catalog = 'northwind';

114 rows affected.

[(u'categories', u'CategoryID', u'smallint'),
 (u'categories', u'CategoryName', u'character varying'),
 (u'categories', u'Description', u'text'),
 (u'categories', u'Picture', u'bytea'),
 (u'customercustomerdemo', u'CustomerID', u'character'),
 (u'customercustomerdemo', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerTypeID', u'character'),
 (u'customerdemographics', u'CustomerDesc', u'text'),
 (u'customers', u'CustomerID', u'character'),
 (u'customers', u'CompanyName', u'character varying'),
 (u'customers', u'ContactName', u'character varying'),
 (u'customers', u'ContactTitle', u'character varying'),
 (u'customers', u'Address', u'character varying'),
 (u'customers', u'City', u'character varying'),
 (u'customers', u'Region', u'character varying'),
 (u'customers', u'PostalCode', u'character varying'),
 (u'customers', u'Country', u'character varying'),
 (u'customers', u'Phone', u'character varying'),
 (u'customers', u'Fax', u'character varying'),
 (u'employees', u'EmployeeID', u'smallint'),
 (u'employees', u'LastName', u'character varying'),
 (u'employees', u'FirstName', u'character varying'),
 (u'employees', u'Title', u'character varying'),
 (u'employees', u'TitleOfCourtesy', u'character varying'),
 (u'employees', u'BirthDate', u'date'),
 (u'employees', u'HireDate', u'date'),
 (u'employees', u'Address', u'character varying'),
 (u'employees', u'City', u'character varying'),
 (u'employees', u'Region', u'character varying'),
 (u'employees', u'PostalCode', u'character varying'),
 (u'employees', u'Country', u'character varying'),
 (u'employees', u'HomePhone', u'character varying'),
 (u'employees', u'Extension', u'character varying'),
 (u'employees', u'Photo', u'bytea'),
 (u'employees', u'Notes', u'text'),
 (u'employees', u'ReportsTo', u'smallint'),
 (u'employees', u'PhotoPath', u'character varying'),
 (u'employeeterritories', u'EmployeeID', u'smallint'),
 (u'employeeterritories', u'TerritoryID', u'character varying'),
 (u'order_details', u'OrderID', u'smallint'),
 (u'order_details', u'ProductID', u'smallint'),
 (u'order_details', u'UnitPrice', u'real'),
 (u'order_details', u'Quantity', u'smallint'),
 (u'order_details', u'Discount', u'real'),
 (u'orders', u'OrderID', u'smallint'),
 (u'orders', u'CustomerID', u'character'),
 (u'orders', u'EmployeeID', u'smallint'),
 (u'orders', u'OrderDate', u'date'),
 (u'orders', u'RequiredDate', u'date'),
 (u'orders', u'ShippedDate', u'date'),
 (u'orders', u'ShipVia', u'smallint'),
 (u'orders', u'Freight', u'real'),
 (u'orders', u'ShipName', u'character varying'),
 (u'orders', u'ShipAddress', u'character varying'),
 (u'orders', u'ShipCity', u'character varying'),
 (u'orders', u'ShipRegion', u'character varying'),
 (u'orders', u'ShipPostalCode', u'character varying'),
 (u'orders', u'ShipCountry', u'character varying'),
 (u'products', u'ProductID', u'smallint'),
 (u'products', u'ProductName', u'character varying'),
 (u'products', u'SupplierID', u'smallint'),
 (u'products', u'CategoryID', u'smallint'),
 (u'products', u'QuantityPerUnit', u'character varying'),
 (u'products', u'UnitPrice', u'real'),
 (u'products', u'UnitsInStock', u'smallint'),
 (u'products', u'UnitsOnOrder', u'smallint'),
 (u'products', u'ReorderLevel', u'smallint'),
 (u'products', u'Discontinued', u'integer'),
 (u'region', u'RegionID', u'smallint'),
 (u'region', u'RegionDescription', u'character'),
 (u'shippers', u'ShipperID', u'smallint'),
 (u'shippers', u'CompanyName', u'character varying'),
 (u'shippers', u'Phone', u'character varying'),
 (u'shippers_tmp', u'ShipperID', u'smallint'),
 (u'shippers_tmp', u'CompanyName', u'character varying'),
 (u'shippers_tmp', u'Phone', u'character varying'),
 (u'suppliers', u'SupplierID', u'smallint'),
 (u'suppliers', u'CompanyName', u'character varying'),
 (u'suppliers', u'ContactName', u'character varying'),
 (u'suppliers', u'ContactTitle', u'character varying'),
 (u'suppliers', u'Address', u'character varying'),
 (u'suppliers', u'City', u'character varying'),
 (u'suppliers', u'Region', u'character varying'),
 (u'suppliers', u'PostalCode', u'character varying'),
 (u'suppliers', u'Country', u'character varying'),
 (u'suppliers', u'Phone', u'character varying'),
 (u'suppliers', u'Fax', u'character varying'),
 (u'suppliers', u'HomePage', u'text'),
 (u'territories', u'TerritoryID', u'character varying'),
 (u'territories', u'TerritoryDescription', u'character'),
 (u'territories', u'RegionID', u'smallint'),
 (u'usstates', u'StateID', u'smallint'),
 (u'usstates', u'StateName', u'character varying'),
 (u'usstates', u'StateAbbr', u'character varying'),
 (u'usstates', u'StateRegion', u'character varying'),
 (u'table1', u'num_votes', u'character varying'),
 (u'table1', u'rating', u'character varying'),
 (u'table1', u'tconst', u'character'),
 (u'table1', u'title', u'character'),
 (u'table1', u'year', u'character varying'),
 (u'table1', u'genre', u'character'),
 (u'table1', u'runtime', u'character varying'),
 (u'movies', u'index', u'bigint'),
 (u'movies', u'num_votes', u'bigint'),
 (u'movies', u'rating', u'double precision'),
 (u'movies', u'tconst', u'text'),
 (u'movies', u'title', u'text'),
 (u'movies', u'year', u'text'),
 (u'movies', u'genre', u'text'),
 (u'movies', u'runtime', u'double precision'),
 (u'ratings', u'index', u'bigint'),
 (u'ratings', u'0', u'text'),
 (u'ratings', u'ratings', u'text'),
 (u'ratings', u'movie', u'text')]

### 1.c: Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

In [50]:
%%sql
select * from orders limit 3;
select * from products limit 3;
select * from usstates limit 3;

3 rows affected.
3 rows affected.
3 rows affected.

[(1, u'Alabama', u'AL', u'south'),
 (2, u'Alaska', u'AK', u'north'),
 (3, u'Arizona', u'AZ', u'west')]

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

Use a combination of SQL queries and Pandas merge to answer the following questions:

- What categories of products is the company selling?
- How many products per category does the catalog contain?
- Let's focus only on products that have not been discontinued => how many products per category?
- What are the most expensive 5 products (not discontinued)?
- How many units of each of these 5 products are there in stock?
- Draw a pie chart of the categories, with slices that have the size of the number of products in that category (use non discontinued products)

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [58]:
categories = %sql SELECT "CategoryName","Description" FROM categories;
categories

8 rows affected.

[(u'Beverages', u'Soft drinks, coffees, teas, beers, and ales'),
 (u'Condiments', u'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (u'Confections', u'Desserts, candies, and sweet breads'),
 (u'Dairy Products', u'Cheeses'),
 (u'Grains/Cereals', u'Breads, crackers, pasta, and cereal'),
 (u'Meat/Poultry', u'Prepared meats'),
 (u'Produce', u'Dried fruit and bean curd'),
 (u'Seafood', u'Seaweed and fish')]

### 2.b: How many products per category does the catalog contain?

Keep in mind that you can cast a %sql result to a pandas dataframe using the `.DataFrame()` method.

In [64]:
counts = %sql SELECT "CategoryID" as Category, count(*) as Number\
            from products \
            group by "CategoryID" \
            order by Number DESC;

counts

8 rows affected.

[(3, 13L), (8, 12L), (1, 12L), (2, 12L), (4, 10L), (5, 7L), (6, 6L), (7, 5L)]

### 2.c: How many not discontinued products per category?

### 2.d: What are the most expensive 5 products (not discontinued)?

### 2.e: How many units of each of these 5 products are there in stock?

### 2.f: Pie Chart

Use pandas to make a pie chart plot.

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

- How many orders in total?
- How many orders per year
- How many orders per quarter
- Which country is receiving the most orders
- Which country is receiving the least
- What's the average shipping time (ShippedDate - OrderDate)
- What customer is submitting the highest number of orders?
- What customer is generating the highest revenue (need to pd.merge with order_details)
- What fraction of the revenue is generated by the top 5 customers?

### 3.a: How many orders in total?

### 3.b: How many orders per year?

### 3.c: How many orders per quarter?

Make a line plot for these.

### 3.d: Which country is receiving the most orders?

### 3.e: Which country is receiving the least?

### 3.f: What's the average shipping time (ShippedDate - OrderDate)?

### 3.g: What customer is submitting the highest number of orders?

### 3.h: What customer is generating the highest revenue (need to pd.merge with order_details)?

### 3.i: What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

Wow!! 5.5% of the customers generate a third of the revenue!!

## Bonus: Other tables

Investigate the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.