In [197]:
import pandas as pd
import numpy as np

In [198]:
def read_csv(path): return pd.read_csv( path, sep = ',' )

In [199]:
path = "../../assets/HairEyeColor.csv"

df = read_csv(path)

In [200]:
df.dtypes

Unnamed: 0     int64
Hair          object
Eye           object
Sex           object
Freq           int64
dtype: object

In [201]:
columns = df.columns
print columns

Index([u'Unnamed: 0', u'Hair', u'Eye', u'Sex', u'Freq'], dtype='object')

In [202]:
# Drop the Column Named 'Unnamed: 0'
columnToRemove = columns[0]
print columnToRemove
df.drop( columnToRemove, axis=1, inplace=True )

Unnamed: 0

In [203]:
df.columns

Index([u'Hair', u'Eye', u'Sex', u'Freq'], dtype='object')

In [204]:
# Are there any null or empty values in the dataset? 
df.count()

Hair    32
Eye     32
Sex     32
Freq    32
dtype: int64

In [205]:
# How many rows are in the dataset? 
rows, cols = df.shape
print rows, cols

32 4

In [206]:
# Select the first 15 row of the dataset
df.head(15)

     Hair    Eye   Sex  Freq
0   Black  Brown  Male    32
1   Brown  Brown  Male    53
2     Red  Brown  Male    10
3   Blond  Brown  Male     3
4   Black   Blue  Male    11
5   Brown   Blue  Male    50
6     Red   Blue  Male    10
7   Blond   Blue  Male    30
8   Black  Hazel  Male    10
9   Brown  Hazel  Male    25
10    Red  Hazel  Male     7
11  Blond  Hazel  Male     5
12  Black  Green  Male     3
13  Brown  Green  Male    15
14    Red  Green  Male     7

In [207]:
# create a df with only students with Black Hair
df1 = df[ df.Hair == 'Black' ]

In [208]:
# How many students have black eyes and brown hair? 
df2 = df1[ df1.Eye == 'Brown' ]
print sum( df2.Freq )

68

In [209]:
# How many blackeyed, brown hair, male students are in the class? 
df3  = df2[ df2.Sex == 'Male' ]
print sum( df3.Freq )

32

In [210]:
# make all of the above 1 query, called if df4
df4 = df[ (df.Hair == 'Black') & (df.Eye == 'Brown') & (df.Sex == 'Male') ]
print sum( df4.Freq )

32

In [211]:
# Find the Above with a groupby and and a apply afterwards
dfGroupBy = df.groupby( ['Hair','Eye','Sex'] ).apply( 
    lambda group: sum( group['Freq'] ) 
)

print dfGroupBy

Hair   Eye    Sex
Black  Blue   Female     9
              Male      11
       Brown  Female    36
              Male      32
       Green  Female     2
              Male       3
       Hazel  Female     5
              Male      10
Blond  Blue   Female    64
              Male      30
       Brown  Female     4
              Male       3
       Green  Female     8
              Male       8
       Hazel  Female     5
              Male       5
Brown  Blue   Female    34
              Male      50
       Brown  Female    66
              Male      53
       Green  Female    14
              Male      15
       Hazel  Female    29
              Male      25
Red    Blue   Female     7
              Male      10
       Brown  Female    16
              Male      10
       Green  Female     7
              Male       7
       Hazel  Female     7
              Male       7
dtype: int64

In [212]:
# using df, code all males to integer value of 1, and all females to integer value of 0,
# replace the Sex Column with new Column

def binGender(gender):
    if gender == 'Male':
        return 1
    return 0

df['Sex'] = df.Sex.apply(binGender)
print df.Sex.head(30)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
Name: Sex, dtype: int64

In [213]:
# create a new column called FreqPercent which will given the percentage value for each 
# set of student attributes.

freqColumn = df.Freq
totalStudents = sum( freqColumn )

def getFreqPercent(freq): return ( float(freq)/totalStudents )*100

df["FreqPercent"] = freqColumn.apply(getFreqPercent)
df.FreqPercent.head(20)

0      5.405405
1      8.952703
2      1.689189
3      0.506757
4      1.858108
5      8.445946
6      1.689189
7      5.067568
8      1.689189
9      4.222973
10     1.182432
11     0.844595
12     0.506757
13     2.533784
14     1.182432
15     1.351351
16     6.081081
17    11.148649
18     2.702703
19     0.675676
Name: FreqPercent, dtype: float64

In [214]:
# Ensure that the sum of all freq% is 100%

print sum( df.FreqPercent )

100.0