# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [10]:
import pandas as pd
path ="../assets/billboard.csv"
#data = pd.DataFrame.from_csv(path)
df = pd.read_csv(path)
print data

     year      artist.inverted  \
0    2000      Destiny's Child
1    2000              Santana
2    2000        Savage Garden
3    2000              Madonna
4    2000  Aguilera, Christina
5    2000                Janet
6    2000      Destiny's Child
7    2000    Iglesias, Enrique
8    2000                Sisqo
9    2000             Lonestar
10   2000               N'Sync
11   2000  Aguilera, Christina
12   2000     Vertical Horizon
13   2000                Creed
14   2000              Aaliyah
15   2000      matchbox twenty
16   2000        Carey, Mariah
17   2000          Hill, Faith
18   2000                  Mya
19   2000                Dream
20   2000        Braxton, Toni
21   2000        Anthony, Marc
22   2000                  98�
23   2000      Destiny's Child
24   2000         3 Doors Down
25   2000                Sisqo
26   2000  Aguilera, Christina
27   2000     Houston, Whitney
28   2000                  Joe
29   2000      Jordan, Montell
..    ...                  ...
287  2000              2Ge+her
288  2000       Madison Avenue
289  2000                  Eve
290  2000          Limp Bizkit
291  2000      Spencer, Tracie
292  2000            Nu Flavor
293  2000                Tamar
294  2000       Levert, Gerald
295  2000           Hart, Beth
296  2000          Diffie, Joe
297  2000      Funkmaster Flex
298  2000         Price, Kelly
299  2000             En Vogue
300  2000          Herndon, Ty
301  2000            Anastacia
302  2000                Trina
303  2000              Lil' Mo
304  2000              A*Teens
305  2000        Sheist, Shade
306  2000           De La Soul
307  2000       Larrieux, Amel
308  2000        Braxton, Toni
309  2000              Tuesday
310  2000            LL Cool J
311  2000             Master P
312  2000     Ghostface Killah
313  2000          Smith, Will
314  2000        Zombie Nation
315  2000       Eastsidaz, The
316  2000               Fragma

                                                 track  time        genre  \
0                             Independent Women Part I  3:38         Rock
1                                         Maria, Maria  4:18         Rock
2                                   I Knew I Loved You  4:07         Rock
3                                                Music  3:45         Rock
4                Come On Over Baby (All I Want Is You)  3:38         Rock
5                                Doesn't Really Matter  4:17         Rock
6                                          Say My Name  4:31         Rock
7                                          Be With You  3:36        Latin
8                                           Incomplete  3:52         Rock
9                                               Amazed  4:25      Country
10                                    It's Gonna Be Me  3:10         Rock
11                                   What A Girl Wants  3:18         Rock
12                                 Everything You Want  4:01         Rock
13                                 With Arms Wide Open  3:52         Rock
14                                           Try Again  4:03         Rock
15                                                Bent  4:12         Rock
16                               Thank God I Found You  4:14         Rock
17                                             Breathe  4:04          Rap
18                   Case Of The Ex (Whatcha Gonna Do)  3:50         Rock
19                                      He Loves U Not  3:43         Rock
20                                He Wasn't Man Enough  4:21         Rock
21                                      You Sang To Me  3:50        Latin
22                  Give Me Just One Night (Una Noche)  3:24         Rock
23                                     Jumpin' Jumpin'  3:48         Rock
24                                          Kryptonite  3:53         Rock
25                                          Thong Song  4:05         Rock
26                                       I Turn To You  4:00         Rock
27                                My Love Is Your Love  4:16         Rock
28                                        I Wanna Know  4:57         Rock
29                                  Get It On.. Tonite  4:34          Rap
..                                                 ...   ...          ...
287  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15          R&B
288                                 Don't Call Me Baby  3:44  Electronica
289                                         Got It All  3:48          Rap
290                                        Re-Arranged  4:08         Rock
291                                  Still In My Heart  4:11         Rock
292                                     3 Little Words  3:54          R&B
293                         If You Don't Wanna Love Me  4:02         Rock
294                                         Baby U Are  4:10          R&B
295                                          L.A. Song  3:47      Country
296                                  The Quittin' Kind  3:23      Country
297                                             Do You  4:14          Rap
298                                 Love Sets You Free  3:46         Rock
299                                             Riddle  5:10         Rock
300                                           No Mercy  4:43      Country
301                                     I'm Outta Love  4:01          Pop
302                                          Pull Over  2:58          Rap
303                                              Ta Da  4:17          Rap
304                                      Dancing Queen  3:44          Pop
305                                   Where I Wanna Be  4:16          Rap
306                                          All Good?  5:02          Rap
307                                             Get Up  4:02          R&B
308                                     Spanish Guitar  4:24         Rock
309                                             I Know  4:06         Rock
310                                       Imagine That  4:00          Rap
311                                            Souljas  3:33          Rap
312                                   Cherchez LaGhost  3:04          R&B
313                                        Freakin' It  3:58          Rap
314                                      Kernkraft 400  3:30         Rock
315                                           Got Beef  3:58          Rap
316                                     Toca's Miracle  3:22          R&B

    date.entered date.peaked  x1st.week  x2nd.week  x3rd.week     ...      \
0     2000-09-23  2000-11-18         78       63.0       49.0     ...
1     2000-02-12  2000-04-08         15        8.0        6.0     ...
2     1999-10-23  2000-01-29         71       48.0       43.0     ...
3     2000-08-12  2000-09-16         41       23.0       18.0     ...
4     2000-08-05  2000-10-14         57       47.0       45.0     ...
5     2000-06-17  2000-08-26         59       52.0       43.0     ...
6     1999-12-25  2000-03-18         83       83.0       44.0     ...
7     2000-04-01  2000-06-24         63       45.0       34.0     ...
8     2000-06-24  2000-08-12         77       66.0       61.0     ...
9     1999-06-05  2000-03-04         81       54.0       44.0     ...
10    2000-05-06  2000-07-29         82       70.0       51.0     ...
11    1999-11-27  2000-01-15         71       51.0       28.0     ...
12    2000-01-22  2000-07-15         70       61.0       53.0     ...
13    2000-05-13  2000-11-11         84       78.0       76.0     ...
14    2000-03-18  2000-06-17         59       53.0       38.0     ...
15    2000-04-29  2000-07-22         60       37.0       29.0     ...
16    1999-12-11  2000-02-19         82       68.0       50.0     ...
17    1999-11-06  2000-04-22         81       68.0       62.0     ...
18    2000-08-19  2000-12-02         72       57.0       52.0     ...
19    2000-09-30  2000-12-30         99       92.0       81.0     ...
20    2000-03-18  2000-05-06         63       55.0       48.0     ...
21    2000-02-26  2000-06-03         77       54.0       50.0     ...
22    2000-08-19  2000-09-30         51       39.0       34.0     ...
23    2000-05-13  2000-08-19         74       71.0       65.0     ...
24    2000-04-08  2000-11-11         81       70.0       68.0     ...
25    2000-01-29  2000-05-20         74       63.0       35.0     ...
26    2000-04-15  2000-07-01         50       39.0       30.0     ...
27    1999-09-04  2000-01-08         81       68.0       44.0     ...
28    2000-01-01  2000-07-01         94       86.0       69.0     ...
29    1999-10-23  2000-02-12         92       80.0       72.0     ...
..           ...         ...        ...        ...        ...     ...
287   2000-09-02  2000-09-09         91       87.0       92.0     ...
288   2000-07-08  2000-09-16         98       96.0       93.0     ...
289   2000-07-15  2000-07-22         89       88.0       88.0     ...
290   1999-12-04  2000-02-05         91       91.0       90.0     ...
291   2000-03-04  2000-03-11         95       88.0       98.0     ...
292   2000-06-03  2000-06-17         97       97.0       89.0     ...
293   2000-03-25  2000-04-15         98       98.0       92.0     ...
294   2000-08-19  2000-08-26         96       89.0       92.0     ...
295   1999-11-27  2000-01-15         99      100.0       98.0     ...
296   2000-01-01  2000-01-22         98      100.0      100.0     ...
297   2000-11-11  2000-12-02         92       92.0       95.0     ...
298   2000-05-13  2000-05-20         92       91.0       98.0     ...
299   2000-06-17  2000-06-17         92       92.0       97.0     ...
300   2000-03-18  2000-05-06        100       99.0       99.0     ...
301   2000-04-01  2000-04-01         92        NaN        NaN     ...
302   2000-09-09  2000-09-16         97       93.0       96.0     ...
303   2000-08-12  2000-09-16        100       99.0       97.0     ...
304   2000-07-08  2000-07-29         97       97.0       96.0     ...
305   2000-11-11  2000-11-18         96       95.0       99.0     ...
306   2000-12-23  2000-12-23         96       96.0      100.0     ...
307   2000-03-04  2000-03-11        100       97.0       97.0     ...
308   2000-12-02  2000-12-02         98       98.0       98.0     ...
309   2000-12-30  2000-12-30         98       98.0        NaN     ...
310   2000-08-12  2000-08-19         99       98.0        NaN     ...
311   2000-11-18  2000-11-18         98        NaN        NaN     ...
312   2000-08-05  2000-08-05         98        NaN        NaN     ...
313   2000-02-12  2000-02-12         99       99.0       99.0     ...
314   2000-09-02  2000-09-02         99       99.0        NaN     ...
315   2000-07-01  2000-07-01         99       99.0        NaN     ...
316   2000-10-28  2000-10-28         99        NaN        NaN     ...

     x67th.week  x68th.week  x69th.week  x70th.week  x71st.week  x72nd.week  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN         NaN         NaN
6           NaN         NaN         NaN         NaN         NaN         NaN
7           NaN         NaN         NaN         NaN         NaN         NaN
8           NaN         NaN         NaN         NaN         NaN         NaN
9           NaN         NaN         NaN         NaN         NaN         NaN
10          NaN         NaN         NaN         NaN         NaN         NaN
11          NaN         NaN         NaN         NaN         NaN         NaN
12          NaN         NaN         NaN         NaN         NaN         NaN
13          NaN         NaN         NaN         NaN         NaN         NaN
14          NaN         NaN         NaN         NaN         NaN         NaN
15          NaN         NaN         NaN         NaN         NaN         NaN
16          NaN         NaN         NaN         NaN         NaN         NaN
17          NaN         NaN         NaN         NaN         NaN         NaN
18          NaN         NaN         NaN         NaN         NaN         NaN
19          NaN         NaN         NaN         NaN         NaN         NaN
20          NaN         NaN         NaN         NaN         NaN         NaN
21          NaN         NaN         NaN         NaN         NaN         NaN
22          NaN         NaN         NaN         NaN         NaN         NaN
23          NaN         NaN         NaN         NaN         NaN         NaN
24          NaN         NaN         NaN         NaN         NaN         NaN
25          NaN         NaN         NaN         NaN         NaN         NaN
26          NaN         NaN         NaN         NaN         NaN         NaN
27          NaN         NaN         NaN         NaN         NaN         NaN
28          NaN         NaN         NaN         NaN         NaN         NaN
29          NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
287         NaN         NaN         NaN         NaN         NaN         NaN
288         NaN         NaN         NaN         NaN         NaN         NaN
289         NaN         NaN         NaN         NaN         NaN         NaN
290         NaN         NaN         NaN         NaN         NaN         NaN
291         NaN         NaN         NaN         NaN         NaN         NaN
292         NaN         NaN         NaN         NaN         NaN         NaN
293         NaN         NaN         NaN         NaN         NaN         NaN
294         NaN         NaN         NaN         NaN         NaN         NaN
295         NaN         NaN         NaN         NaN         NaN         NaN
296         NaN         NaN         NaN         NaN         NaN         NaN
297         NaN         NaN         NaN         NaN         NaN         NaN
298         NaN         NaN         NaN         NaN         NaN         NaN
299         NaN         NaN         NaN         NaN         NaN         NaN
300         NaN         NaN         NaN         NaN         NaN         NaN
301         NaN         NaN         NaN         NaN         NaN         NaN
302         NaN         NaN         NaN         NaN         NaN         NaN
303         NaN         NaN         NaN         NaN         NaN         NaN
304         NaN         NaN         NaN         NaN         NaN         NaN
305         NaN         NaN         NaN         NaN         NaN         NaN
306         NaN         NaN         NaN         NaN         NaN         NaN
307         NaN         NaN         NaN         NaN         NaN         NaN
308         NaN         NaN         NaN         NaN         NaN         NaN
309         NaN         NaN         NaN         NaN         NaN         NaN
310         NaN         NaN         NaN         NaN         NaN         NaN
311         NaN         NaN         NaN         NaN         NaN         NaN
312         NaN         NaN         NaN         NaN         NaN         NaN
313         NaN         NaN         NaN         NaN         NaN         NaN
314         NaN         NaN         NaN         NaN         NaN         NaN
315         NaN         NaN         NaN         NaN         NaN         NaN
316         NaN         NaN         NaN         NaN         NaN         NaN

     x73rd.week  x74th.week  x75th.week  x76th.week
0           NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN
6           NaN         NaN         NaN         NaN
7           NaN         NaN         NaN         NaN
8           NaN         NaN         NaN         NaN
9           NaN         NaN         NaN         NaN
10          NaN         NaN         NaN         NaN
11          NaN         NaN         NaN         NaN
12          NaN         NaN         NaN         NaN
13          NaN         NaN         NaN         NaN
14          NaN         NaN         NaN         NaN
15          NaN         NaN         NaN         NaN
16          NaN         NaN         NaN         NaN
17          NaN         NaN         NaN         NaN
18          NaN         NaN         NaN         NaN
19          NaN         NaN         NaN         NaN
20          NaN         NaN         NaN         NaN
21          NaN         NaN         NaN         NaN
22          NaN         NaN         NaN         NaN
23          NaN         NaN         NaN         NaN
24          NaN         NaN         NaN         NaN
25          NaN         NaN         NaN         NaN
26          NaN         NaN         NaN         NaN
27          NaN         NaN         NaN         NaN
28          NaN         NaN         NaN         NaN
29          NaN         NaN         NaN         NaN
..          ...         ...         ...         ...
287         NaN         NaN         NaN         NaN
288         NaN         NaN         NaN         NaN
289         NaN         NaN         NaN         NaN
290         NaN         NaN         NaN         NaN
291         NaN         NaN         NaN         NaN
292         NaN         NaN         NaN         NaN
293         NaN         NaN         NaN         NaN
294         NaN         NaN         NaN         NaN
295         NaN         NaN         NaN         NaN
296         NaN         NaN         NaN         NaN
297         NaN         NaN         NaN         NaN
298         NaN         NaN         NaN         NaN
299         NaN         NaN         NaN         NaN
300         NaN         NaN         NaN         NaN
301         NaN         NaN         NaN         NaN
302         NaN         NaN         NaN         NaN
303         NaN         NaN         NaN         NaN
304         NaN         NaN         NaN         NaN
305         NaN         NaN         NaN         NaN
306         NaN         NaN         NaN         NaN
307         NaN         NaN         NaN         NaN
308         NaN         NaN         NaN         NaN
309         NaN         NaN         NaN         NaN
310         NaN         NaN         NaN         NaN
311         NaN         NaN         NaN         NaN
312         NaN         NaN         NaN         NaN
313         NaN         NaN         NaN         NaN
314         NaN         NaN         NaN         NaN
315         NaN         NaN         NaN         NaN
316         NaN         NaN         NaN         NaN

[317 rows x 83 columns]

##### Write a brief description of your data, and any interesting observations you've made thus far.

In [ ]:
"Billboard.csv gives you a raw data of all the music that has been on the billboard chart in the year of 2000."
"The data needs to be cleaned up since there are a lot of NaN or missing data."

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, fill in any missing values. Explain your rationale for the way you choose to "impute" the missing data.

In [15]:
df = df.rename(columns={'artist.inverted': 'name', 'time': 'length'})

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [11]:
pd.melt(df)

         variable value
0            year  2000
1            year  2000
2            year  2000
3            year  2000
4            year  2000
5            year  2000
6            year  2000
7            year  2000
8            year  2000
9            year  2000
10           year  2000
11           year  2000
12           year  2000
13           year  2000
14           year  2000
15           year  2000
16           year  2000
17           year  2000
18           year  2000
19           year  2000
20           year  2000
21           year  2000
22           year  2000
23           year  2000
24           year  2000
25           year  2000
26           year  2000
27           year  2000
28           year  2000
29           year  2000
...           ...   ...
26281  x76th.week   NaN
26282  x76th.week   NaN
26283  x76th.week   NaN
26284  x76th.week   NaN
26285  x76th.week   NaN
26286  x76th.week   NaN
26287  x76th.week   NaN
26288  x76th.week   NaN
26289  x76th.week   NaN
26290  x76th.week   NaN
26291  x76th.week   NaN
26292  x76th.week   NaN
26293  x76th.week   NaN
26294  x76th.week   NaN
26295  x76th.week   NaN
26296  x76th.week   NaN
26297  x76th.week   NaN
26298  x76th.week   NaN
26299  x76th.week   NaN
26300  x76th.week   NaN
26301  x76th.week   NaN
26302  x76th.week   NaN
26303  x76th.week   NaN
26304  x76th.week   NaN
26305  x76th.week   NaN
26306  x76th.week   NaN
26307  x76th.week   NaN
26308  x76th.week   NaN
26309  x76th.week   NaN
26310  x76th.week   NaN

[26311 rows x 2 columns]

## Step 3: Visualize your data.

##### Using a plotting utility of your choice (Tableau or python modules or both), create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for a minimum of 500 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.